{% extends "news/base.html" %}
{% block title %}
{{ news.title }} - 新经资讯网
{% endblock %}
{% block script %}
    <script type="text/javascript" src="../../static/news/js/detail.js"></script>
{% endblock script %}
{% block content %}
        <div class="detail_con fl">
            <h3>{{ news.title }}</h3>
            <div class="detail_about clearfix">
                <span class="time_souce fl">{{ news.create_time }} 来源: {{ news.source }}</span>
                <span class="comment fr">3</span>
            </div>

            <p class="summary">
                摘要：{{ news.digest }}
            </p>

            {{ news.content | safe }}
            
            
        <a href="javascript:;" class="collection block-center" data-news-id="{{ news.id }}" style="display:{% if is_collected %}none{% else %}block{% endif %}">收藏</a>
        <a href="javascript:;" class="collected block-center" data-news-id="{{ news.id }}" style="display: {% if not is_collected %}none{% else %}block{% endif %}"><span class="out">已收藏</span><span class="over">取消收藏</span></a>

        <!--以下是根据用户的登陆状态显示评论窗口-->
        {% if not user %}
        <div class="comment_form_logout">
            登录发表你的评论
        </div>
        {% else %}
        <form action="" class="comment_form" data-news-id="{{ news.id }}">
            <div class="person_pic">
                <img src="{% if user.avatar_url %}{{ user.avatar_url }}{% else %}../../static/news/images/cat.jpg{% endif %}" alt="用户图标">
            </div>
            <textarea placeholder="请发表您的评论" class="comment_input"></textarea>
            <input type="submit" name="" value="评 论" class="comment_sub">
        </form>
        {% endif %}

        <div class="comment_count">
            4条评论
        </div>
        
        <div class="comment_list_con">
            {% for comment in comment_list%}
            <div class="comment_list">
                <div class="person_pic fl">
                    <img src="{{ comment.user.avatar_url | default('../../static/news/images/worm.jpg',true) }}" alt="用户图标">
                </div>    
                <div class="user_name fl">{{ comment.user.nick_name }}</div>
                <div class="comment_text fl">
                    {{ comment.content }}
                </div>

                <!--回复评论-->
                {% if comment.parent %}
                <div class="reply_text_con fl">
                    <div class="user_name2">{{ comment.parent.user.nick_name }}</div>
                    <div class="reply_text">
                        {{ comment.parent.content }}
                    </div>
                </div>
                {% endif %}

                <div class="comment_time fl">{{ comment.create_time }}</div>
                <a href="javascript:;" class="comment_up has_comment_up fr" data-comment-id="{{ comment.id }}">2</a>
                <a href="javascript:;" class="comment_reply fr">回复</a>

                <from class="reply_form fl" >
                    <textarea  class="reply_input"></textarea>
                    <input type="submit" name="" value="回复" class="reply_sub fr" data-news-id="news.id" data-comment-id="comment.id" >
                    <input type="reset" name="" value="取消" class="reply_cancel fr">
                </from>
            </div>
            {% endfor %}
        </div>
            
            
        </div>
{% endblock content %}
{% block rank %}
        <div class="rank_con fr">
            <div class="author_card">
                <a href="#" class="author_pic"><img src="../../static/news/images/user_pic.png" alt="author_pic"></a>
                <a href="#" class="author_name">张大山</a>
                <div class="author_resume">张大山的简介,张大山</div>
                <div class="writings"><span>总篇数</span><b>23</b></div>
                <div class="follows"><span>粉丝</span><b>36</b></div>
                <a href="javascript:;" class="focus fr">关注</a>
                <a href="javascript:;" class="focused fr"><span class="out">已关注</span><span class="over">取消关注</span></a>
            </div>            
            <div class="rank_title">
                <h3>点击排行</h3>
            </div>
            <ul class="rank_list">
                {% for item in news_list %}
                <li><span class="{{ loop.index | index_class }}">{{ loop.index }}</span><a href="/news/{{ item.id }}">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
{% endblock rank %}