<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户中心</title>
	<link rel="stylesheet" type="text/css" href="../../static/news/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../static/news/css/jquery.pagination.css">
    <link rel="stylesheet" type="text/css" href="../../static/news/css/main.css">
    <script type="text/javascript" src="../../static/news/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="../../static/news/js/jquery.pagination.min.js"></script>
</head>
<body class="inframe_body">
    <div class="news_list">
    <h3>新闻列表</h3>
    <ul class="article_list">
         {% for news in data.news_list %}
                <tr>
					<td>{{ news.id }}</td>
					<td class="tleft">{{ news.title }}</td>
					<td>{{ news.create_time }}</td>
                    <td>{% if news.status == 0 %}已通过{% elif news.status == 1 %}未审核{% else %}未通过{% endif %}</td>

                    <td>
                        {% if news.status != 0 %}
						<a href="/admin/news_review_detail?id={{ news.id }}" class="review">审核</a>
                        {% endif %}
                    </td>

				</tr>
        {% endfor %}
    </ul>
    <div id="pagination" class="page"></div>
    <script>
        $(function(){
            $("#pagination").pagination({
                currentPage: {{ data.current_page }},
                totalPage: {{ data.total_page }},
                callback: function(current) {
                    window.location.href = '/user/news_list?p=' + current
                }
            });
        });
    </script>
</div>
</body>
</html>